<div class='patient-profile-form'>
  <%=form_with model: @profile_contact, url: profiles_path, local: true do |f|%>
    <div class='patient-profile-form__field'>
      <h2>利用者情報の登録</h2>

      <%= render 'error_messages', model: @profile_contact %>

      <div class="img-upload">
        <div class="weight-bold-text">
          <div class='patient-profile-form-text'>顔写真</div>
        </div>
        <div class="click-upload">
          <p> クリックしてファイルをアップロード</p>
          <%= f.file_field :image, id:"item-image" %>
        </div>
      </div>
      <div class='form-group'>
        <div class='patient-profile-form-text'>氏名</div>
        <%= f.text_field :patient, class: 'input-default', id:"patient", placeholder: '例）猫田花子'%>
      </div>
      <div class='form-group'>
        <div class='patient-profile-form-text'>生年月日</div>
        <div class='side-by-side'>
          <%= raw sprintf(
            f.date_select(
            :birth_date,
            class: 'select-birth',
            id: "birth_date",
            use_month_numbers: true,
            prompt: '--',
            start_year: 1930,
            end_year: (Time.now.year - 5),
            date_separator: '%s'
            ),
            "<p> 年 </p>", "<p> 月 </p>", "<p> 日 </p>"
            ) %>
        </div>
      </div>
    </div>
    <div class='form-group'>
        <div class='patient-profile-form-text'>性別</div>
        <%= f.collection_select(
          :gender_id, Gender.all,
          :id,
          :name,
          {},
          {class:"select-box", id:"gender"}) %>
    </div>
    <div class='form-group'>
        <div class='patient-profile-form-text'>血液型</div>
        <%= f.text_field :blood_type, class: 'input-default', id:"blood-type", placeholder: '例）B'%>
    </div>
    <div class='form-group'>
        <div class='patient-profile-form-text'>家族</div>
        <%= f.text_field :family, class: 'input-default', id:"family", placeholder: '例）夫、長男、長女、次男、孫（女）'%>
    </div>
    <%# 連絡先 %>
    <div class='form-group'>
      <div class='patient-profile-form-text'>連絡先</div>
      <div class='side-by-side'>
        <div class='form-group'>
          氏名
          <%= f.text_field :person, class: 'input-default', id:"person", placeholder: '例）猫田太郎'%>
        </div>
        <div class='form-group'>
          関係
          <%= f.text_field :relationship, class: 'input-default', id:"relationship", placeholder: '例）長男'%>
        </div>
        <div class='form-group'>
          住所
          <%= f.text_field :address, class: 'input-default', id:"address", placeholder: '例）〇〇県〇〇市〇〇xx-xx'%>
        </div>
      </div>
      <div class='side-by-side'>
        <div class='form-group'>
          Ｅメール
          <%= f.text_field :email, class: 'input-default', id:"email", placeholder: '例）nekoneko@test.com', pattern: '[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}', title: '有効なメールアドレスを入力してください'%>
        </div>
        <div class='form-group'>
          電話番号
          <%= f.text_field :phone, class: 'input-default', id:"phone", placeholder: '例）08012345678', pattern: '[0-9]+'%>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class='patient-profile-form-text'>既往歴</div>
      <%= f.text_area :history, class:"patient-text", id:"history", placeholder:"1,000文字まで）出身地、転居歴、職歴、性格、家族関係など）例）〇〇県〇〇市〇〇に生まれる。〇才で結婚し〇〇へ転居。〇才からスーパーで働き始める。大らかな性格。" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <div class="form-group">
      <div class='patient-profile-form-text'>疾患</div>
      <%= f.text_area :disease, class:"patient-text", id:"disease", placeholder:"1,000文字まで）要支援度、要介護度、認知症の種類、糖尿病などの持病、身体麻痺、禁忌事項など",rows:"7" ,maxlength:"1000" %>
    </div>
    <div class="form-group">
      <div class='patient-profile-form-text'>服用薬</div>
      <%= f.text_area :medications, class:"patient-text", id:"medications", placeholder:"1,000文字まで）薬の名前、服用頻度、薬の効能、禁忌事項など",rows:"7" ,maxlength:"1000" %>
    </div>

    <div class='patient-profile-form__field'>
        <%= f.submit class: 'cpatient-profile-form__action-btn'%>
    </div>
  <% end %>
</div>
